<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="title">
    <h1>EyeHear Alpha</h1>
  </div>
<canvas id="oscilloscope">

</canvas>

<script type="text/javascript" src="js/oscilloscope.js"></script>
</body>
</html>
