<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="title">
    <h1>EyeHear Alpha</h1>
  </div>
  <div class="main">
    <canvas width="1500px" height="400px" id="oscilloscope"></canvas>
    <div class="audio">
      <audio id="player" src="audio/?videoId=sTJ1XwGDcA4" controls></audio>
    </div>
    VideoId: <input id="videoIdInput" type="text" name="videoIdInput" value="sTJ1XwGDcA4">
    <button type="button" name="button" onclick="updateVideoId()">Update</button>
  </div>

<script type="text/javascript" src="js/oscilloscope.js"></script>
</body>
</html>
